{% extends "base.html" %}
{% block title %}About Us – Avenue One Agency{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>
    Avenue One Agency is a company dedicated to the automation of business processes.
    We support companies in USA in saving time, reducing costs and digitalizing processes.
</p>
<p>
    Our team consists of experts in the fields of marketing, technology and process optimization.
    Together we develop customized automation solutions for our B2B and B2C customers.
</p>
{% endblock %}
