{% extends "base.html" %}
{% block title %}Imprint – Avenue One Agency{% endblock %}
{% block description %}Imprint information for Avenue One Agency.{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h1 class="mb-4">Imprint</h1>
    <p>
        Avenue One Agency<br>
        New York City<br>
                   <br>
        United States of America
    </p>

    <p><strong>Represented by:</strong><br>
        Linda Kafexholli  (Founder)
    </p>

    <p><strong>Contact:</strong><br>
        Telefon: +1 (917) 717-8150<br>
        E-Mail: <a href="mailto:avenueoneagency@gmail.com">avenueoneagency@gmail.com</a>
    </p>
{% endblock %}
